<h1>Contestants for <%= @bachelorette.name %></h1>

<% @bachelorette.contestants.each do |contestant| %>
  <section id="contestant-<%= contestant.id %>">
    <h2><%= link_to contestant.name, contestant_path(contestant) %></h2>
    <h2>Age: <%= contestant.age %></h2>
    <h2>Hometown: <%= contestant.hometown %></h2>
  </section>
<% end %>
<br>

<section id="hometowns">
<h3>These contestants are from the following hometowns:</h3>
  <% @bachelorette.contestants.unique_hometowns.each do |hometown| %>
    <p><%= hometown %></p>
  <% end %>
</section>